- content_for :page_header do
  Informações do estudante

- breadcrumb :student, @student

%p
  %strong Nome:
  = @student.name

%p
  %strong Email:
  = @student.name

%p
  %strong RG/CPF:
  = @student.documents

%p
  %strong Telefone:
  = @student.phone_number

%p
  %strong Endereço:
  = @student.address

%hr
= link_to "Cadastrar estudante", new_student_path, class: "btn btn-default"
= link_to "Listagem de estudantes", students_path, class: "btn btn-default"
= link_to "Editar", edit_student_path( @student ), class: "btn btn-warning"
= link_to "Remover", student_path( @student ), class: "btn btn-danger", data: { confirm: "Voce tem certeza?" }, method: :delete