%tr
  %td= course.id
  %td= course.name
  %td
    = link_to "Editar", edit_course_path( course ), class: "btn btn-xs btn-danger"
    = link_to "Ver", course_path( course ), class: "btn btn-xs btn-default"
    = link_to "Remover", course_path( course ), class: "btn btn-xs btn-warning", data: { confirm: "Voce tem certeza?" }, method: :delete