- content_for :page_header do
  Informações do curso

- breadcrumb :course, @course


:coffee
  window.url = "#{search_students_path}"
  window.course_id = "#{@course.id}"
  window.new_student_path = "#{new_student_path}"

%p
  %strong Nome:
  = @course.name

%p
  %strong Descrição
= @course.description

%h3 Estudantes matriculados no curso
.well
  %table.table
    %thead
      %tr
        %th(width="10%") #
        %th(width="50%") Nome
        %th(width="20%") Matriculado em
        %th(width="20%")
    %tbody#students-table
      - unless @course.enrollments.empty?
        - EnrollmentDecorator.decorate_collection( @course.enrollments ).each do |enrollment|
          - student = enrollment.student
          %tr{id: "enrollment_#{enrollment.id}"}
            %td= student.id
            %td= student.name
            %td= enrollment.created_at
            %td.pull-right
              = link_to "Ver", student_path( student ), class: "btn btn-xs btn-default"
              = link_to "Remover", cancel_enrollment_course_path( @course, enrollment ), class: "btn btn-xs btn-danger", method: :delete, remote: true, data: { confirm: "Você tem certeza?" }
      - else
        %tr.nothing
          %td(colspan=3) Não existem estudantes matriculados.

%h3 Matricular estudantes

.form-group
  = text_field_tag 'students', nil, class: 'form-control', placeholder: "Digite o nome do aluno"

%hr
= link_to "Cadastrar curso", new_course_path, class: "btn btn-default"
= link_to "Listagem de cursos", courses_path, class: "btn btn-default"
= link_to "Editar", edit_course_path( @course ), class: "btn btn-warning"
= link_to "Remover", course_path( @course ), class: "btn btn-danger", data: { confirm: "Voce tem certeza?" }, method: :delete
