!!!
%html{:lang => "pt-BR"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Um website para que se deus quizer, eu seja contratado e tenha leite para os meus filhos ;D", :name => "description"}
    %meta{:content => "Nathan Souza", :name => "author"}

    %title= content_for?( :page_title ) ? yield( :page_title ) : "Teste Internet Sistemas"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  %body
    = render "shared/nav"
    .container
      / Page Header
      - if @render_title.nil? || @render_title
        .row.page-box.page-title
          .col-lg-12
            %h1
              = content_for?(:page_header) ? yield(:page_header) : "Defina o título da página"


      .row.page-box.content
        .col-md-12
          = breadcrumbs pretext: "Você está aqui: ", separator: " &rsaquo; ", style: :bootstrap
          = yield

      = render "shared/footer"